<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd"
	>
	
	<!-- 使用注解实现控制器 -->
	<context:component-scan base-package="cn.xwh.service,cn.xwh.dao,cn.xwh.controller"/>
	
	<!-- 装配消息转换器    conversion-service="myConversionService" -->
	<mvc:annotation-driven >
		<mvc:message-converters>
			<!-- 处理中文乱码 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
			<!-- 处理时间格式 -->
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json</value>
					</list>
				</property>
				<!-- 使用默认序列化格式输出 -->
				<property name="features">
					<list>
						<value>WriteDateUseDateFormat</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 配置多视图解析器,允许同样的内容数据呈现不同的view -->
	<bean class=" org.springframework.web.servlet.view.ContentNegotiatingViewResolver ">
		<property name="favorParameter" value="true"/>
		<property name="defaultContentType" value="text/html"/>
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html;charset=UTF-8"/>
				<entry key="json" value="application/json;charset=UTF-8"/>
				<entry key="xml" value="application/xml;charset=UTF-8"/>
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<!-- 完成视图对应 -->
				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<!-- 前缀 -->
					<property name="prefix" value="/WEB-INF/jsp/"/>
					<!-- 后缀 -->
					<property name="suffix" value=".jsp"/>
				</bean>
			</list>
		</property>
	</bean>
	
	
	
	<!-- location为静态资源所在的路径,mapping将静态资源映射到指定的路径 -->
	<!-- <mvc:resources location="/statics/" mapping="/statics/**"></mvc:resources> -->
	<mvc:resources location="/statics/" mapping="/statics/**"></mvc:resources>
	<!-- 全局异常处理 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.RuntimeException">login</prop>
			</props>
		</property>
	</bean>
	
	
	<!-- 配置MultipartResolver,用于上传文件,使用spring的commonsMultipartResolver -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="5000000"/>
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>
	
	<!-- 拦截器 -->
<!-- 	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/user/login"/>
			<bean class="cn.xwh.interceptor.SysInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors> -->
	
	
	<!-- 配置拦截器 -->
<!-- 	<mvc:interceptors>
		<mvc:interceptor>
			拦截所有控制器
			<mvc:mapping path="/**"/>
			不进行拦截的页面
			<mvc:exclude-mapping path="/user/login"/>
			<mvc:exclude-mapping path="/statics/**"/>
			<bean class="cn.xwh.interceptor.SysInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors> -->
<!-- 	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean"/> -->
	
	<!-- 自定义转换 -->
	<!-- <bean id="myConversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="cn.xwh.tools.StringToDateConverter">
					<constructor-arg type="java.lang.String" value="yyyy-MM-dd"/>
				</bean>
			</list>
		</property>
	</bean> -->
</beans>



